body {
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  font-feature-settings: "tnum";
  font-size: 12.4px;
  font-variant-numeric: tabular-nums;
  /*margin: 12px;*/
}

/*
body > div {
  margin-bottom: 10px;
}

body > div > div { 
  margin-bottom: 10px;
}

h1 {
  margin-top: 1px;
  margin-bottom: 2px;
}

.houseofpane {
  justify-content: space-between;
  columns: 2;
}
*/

.houseofpane {
  background-color: black;
  padding-top: 20px;
}

/* lil-gui */
.houseofpane > div {
  min-width: 380px;
  max-width: 380px;
  /*margin-bottom: 10px;*/
  break-inside: avoid-column;
}
